@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./PlusJakartaSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./PlusJakartaSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./PlusJakartaSans-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./PlusJakartaSans-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./PlusJakartaSans-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}
