#app {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
}

a {
  text-decoration: none;
}
/* color */
.bg-color-1 {
  background-color: #e7f8f0;
}

/* blocks */

/** block a **/

.a-block {
  display: flex;
  justify-content: center;
}

.a-icon {
  margin-right: 8px;
  width: 17px;
  height: 17px;
}

.a-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
}

.a-arrow {
  margin-left: 7px;
  width: 12px;
  height: 9px;
}

.gr-block-a-content {
  margin-top: 12px;
}

/* section */
.b-section {
  margin-bottom: 28px;
}

/** block b **/

.b-block {
  display: flex;
  justify-content: flex-start;
}

.b-block__name {
  margin-bottom: 12px;
  color: #2a2a2a;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* interface */

.i-notification {
  width: 150px;
  padding: 12px 12px 16px 12px;
  border-radius: 10px;
}

.i-notification-head {
  color: #23513d;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.i-notification-message {
  color: #4c5d56;

  text-align: center;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* images */
/** arrows **/

.g-arrow-a {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAQCAYAAAD0xERiAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACJSURBVHgBrdK7DYAgEIDhAzZgAkpCQpzBDdzUEXQMSgagsLQB5Xp5en9CKCBfQg4AwsTIZWvtJqW8QwjX1zmHzhCKMe6c80NrrX5hQogzbz4vVQIZDIQAQgginFJanXN+CmuBw1gNnMJKIDPGPECT755mT7TPhInIBkD2Ncg+bQvCuqeZoaUGYS+/12M0wSvQAQAAAABJRU5ErkJggg==);
}

.g-arrow-b {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAICAYAAAAiJnXPAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABsSURBVHgBldC7DcAgDARQ23ggj5CMkIaGJptkGoREwyrsg4CYjg648qQnfwAWCSG83nuZO1ohY0wmojRDhI3EGKXWmlprj3Muo47/diAiiqKr934zHEQhMPPZenrfY63NeApGt/xeKUVmMPIDiQYxqet0Q48AAAAASUVORK5CYII=);
}

.icon-port {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAD5SURBVHgBrZI9TsNQEIRnnx8RgghqDsAFaGiCKOAOtDR2h8QJQOQUEIQ4SLokl8gVktaKoijeyT5FjvLznCL2VPbup90de4AGJLHi1f3rrbbOurtVGlu85cP/6T7vY0O05ceHC8Krf0FksYCUi8cs2xoBR/dtmz9UZFJWHeTO2EwhKYRJyc4Gfz/SfkiJOiLUoa4Erv4QBKt2TmU39EizSx4/xtTuZJ+xZj7qfZXPFYzkTzfd8GGLdQYOI5MPfzd2jdPYqUEhJ64ic7jspM/iuYQmZkulwkg8bBtE0EcRQD2GoaG/08gQsl5iTf6cej2XpIcTxQXf0YRWLTpLZ0xxHp8AAAAASUVORK5CYII=);
}

/** std components **/

.btn-std {
  height: auto !important;
  padding: 5px 33px !important;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #cad9f6;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500;
  color: #2e4376;
  text-transform: none !important;
  line-height: 5px;
}
