@include export_css_colors;

#app {
  background-color: var(--color-MainBackground);
}

a {
  text-decoration: none;
}

.v-btn {
  letter-spacing: normal !important;
  text-transform: none !important;
}

.font-default {
  font-size: 14px;
}

.text-gradient {
  background: linear-gradient(67deg, #103673 40.45%, #4a77c1 81.54%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
}

.liner-gradient-common {
  background: linear-gradient(67deg, #103673 40.45%, #4a77c1 81.54%) !important;
}

.liner-gradient-light {
  background: linear-gradient(67deg, #fff 40.45%, #7fa8eb 81.54%) !important;
}

.text-gradient-light {
  background: linear-gradient(180deg, #fff 20%, #7fa8eb 81.54%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
}

.font-small {
  font-size: 10px;
}

.font-smaller {
  font-size: 12px;
}

.font-semibold {
  font-weight: 600;
}

.font-big-semibold {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

.font-medium {
  font-size: 16px;
  font-weight: 700;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.font-m {
  font-weight: 600;
}

.v-slide-group__content {
  gap: 8px;

  .v-btn--size-default {
    padding: 0;
  }

  .v-tab {
    .v-btn__content {
      padding: 4px 16px;
    }
  }

  .v-tab.v-btn {
    min-width: auto;
  }
}

.v-tab:not(.selected, :hover) {
  .v-btn__content {
    border-radius: 20px;
    padding: 4px 16px;
    transition: 0.3s;
    color: var(--color-TypeText);
  }
}

.v-checkbox {
  .v-icon {
    --v-icon-size-multiplier: 0.5 !important;
  }

  .v-label {
    color: var(--color-TextText);
    font-size: 12px;
  }
}
.v-input--error {
  .v-field__overlay {
    border: 1px solid var(--color-AdditionalError);
  }

  &.v-text-field {
    .v-input__details {
      padding-inline: 0px;
      .v-messages {
        color: var(--color-AdditionalError) !important;
      }
    }
  }

  :not(.v-field--disabled) .v-label.v-field-label {
    color: var(--color-AdditionalError) !important;
  }
}


.v-theme--light {
  /*input */
  .v-field {
    background: #fff;
    min-width: 90px;
    border-radius: 8px;
  }

  .v-field__input {
    min-height: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* select */
  .v-field__overlay {
    background-color: #fff;
    opacity: 1;
  }
  .v-field__outline::before {
    border-style: none;
  }

  .v-field--variant-filled:hover .v-field__overlay {
    opacity: 1;
    background-color: #fff6a4;
    transition: background-color 1s;
  }
  .v-selection-control--density-default {
    --v-selection-control-size: 26px;
  }

  .v-input--density-compact .v-field--variant-solo-filled .v-label.v-field-label--floating {
    top: -1px;
    font-size: 10px;
    opacity: 0;
  }

  .v-field--focused .v-field-label--floating {
    opacity: 0;
  }

  .v-field.v-field--active .v-label.v-field-label--floating {
    visibility: hidden;
  }

  /* checkbox*/
  .v-hide-input__details .v-input__details {
    display: none;
  }
  .v-selection-control__wrapper {
    --v-input-control-height: 0px;
  }
  .v-input--density-default {
    --v-input-control-height: 0px;
  }
}

/* формы */
.v-dialog {
  .v-card {
    border-radius: 30px !important;

    .v-card-title,
    .v-card-text {
      padding: 0;
    }
  }
}

.modal-window {
  padding: 20px;
  background: #fff;
  border-radius: 30px;
  .modal-windows-label {
    display: flex;
    margin-bottom: 12px;
    padding: 11px 12px 12px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-Element) !important;
    gap: 36px;
    border-radius: 16px;
    align-self: stretch;
    text-align: left;
    color: #fff !important;

    .button-close {
      cursor: pointer;
      width: 23px;
      height: 23px;
      background-size: contain;
      background-repeat: no-repeat;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAF2SURBVHgBvVUtV8NAENyrjQcdfDWe+GqC5gegg48uPppgaS2tr0cT3Xp0mEnuwr1wm4S2r/PeNm3ubvbjZrdGFNR1HeGRwOawGHZll75hFewD9mmMOWgcRiFdWItkHCUclKPkIGZ0uRflVOxhz/0szBmIVQc+eXECse/gCQ54LzKzxOkZiIlrae+qwcyWI1Wi2AwQrWAhpSysKJrI58rhHdJ7wXMZWFtirVCcOwk35ImEkSCCGCTbngMSb7kmXgl6uOWHwaZSdD3zYjKQVZYs9ojzoXPYl85kuFG4ltsMqonE7lyrlhFwYyxHgOSHkT1djV0GeJdJWzINnc73U4ilLUU+0cGXI98pG1aBGkc9B1ofNO+NFXwhfy+IGVGGoenIiNlElHGosx85Y5rZYts/1KXH4BXEb/zi1KK18n/BbNfuR0Nup1h2ogM3crtLvsyfRc/JPR4PMg5G+Q5b+xEPklsHjJ4T8w52I7+KIQl1TAlvQqQXwQ+kaaLLnOemQwAAAABJRU5ErkJggg==')
        no-repeat;
    }
  }
}
