@use 'vuetify/settings' with (
  $container-max-widths: (
    'lg': 1172px,
    'xl': 1172px,
    'xxl': 1172px
  ),
  $body-font-family: (
    'Plus Jakarta Sans',
    sans-serif
  ),
  $utilities: (
    'background-color': (
      property: 'background-color',
      class: 'bg',
      values: (
        'dark-blue': var(--color-DarkBlue),
        'middle-blue': var(--color-MiddleBlue)
      )
    ),
    'color': (
      property: 'color',
      class: 'color',
      values: (
        'dark-blue': var(--color-DarkBlue),
        'middle-blue': var(--color-MiddleBlue),
        'type-text': var(--color-TypeText),
        'element': var(--color-Element),
        'element-check': var(--color-ElementCheck),
        'common': var(--color-TextText),
        'additional-error': var(--color-AdditionalError)
      )
    ),
    'text': (
      property: 'color',
      class: 'text',
      values: (
        'dark-blue': var(--color-DarkBlue),
        'middle-blue': var(--color-MiddleBlue),
        'type-text': var(--color-TypeText),
        'element': var(--color-Element),
        'element-check': var(--color-ElementCheck),
        'common': var(--color-TextText),
        'additional-error': var(--color-AdditionalError)
      )
    ),
    'border-radius': (
      property: 'border-radius',
      class: 'rounded',
      values: (
        'mg': 10px,
        'mr': 16px,
        'xxl': 30px
      )
    )
  )
);
