@use 'flag-icons/sass/flag-icons' with (
  $flag-icons-path: '/flags'
);
@use 'vuetify/settings' with (
  $container-max-widths: (
    'lg': 1172px,
    'xl': 1172px,
    'xxl': 1172px
  ),
  $body-font-family: (
    'Plus Jakarta Sans',
    sans-serif
  ),
  $utilities: (
    'background-color': (
      property: 'background-color',
      class: 'bg',
      values: (
        'background-blue': var(--color-BackgroundBlue),
        'main': var(--color-MainBackground),
        'dark-blue': var(--color-DarkBlue),
        'middle-blue': var(--color-MiddleBlue),
        'element-check': var(--color-ElementCheck),
        'element': var(--color-Element),
        'hard-blue': var(--color-HardBlue),
        'type-text': var(--color-TypeText),
        'choice': var(--color-Choosen),
        'ocean-blue': var(--color-OceanBlue),
      )
    ),
    'color': (
      property: 'color',
      class: 'color',
      values: (
        'background-blue': var(--color-BackgroundBlue),
        'dark-blue': var(--color-DarkBlue),
        'middle-blue': var(--color-MiddleBlue),
        'type-text': var(--color-TypeText),
        'element': var(--color-Element),
        'element-check': var(--color-ElementCheck),
        'common': var(--color-TextText),
        'additional-error': var(--color-AdditionalError),
        'additional-link': var(--color-AdditionalLink),
        'dark-blue-2': var(--color-DarkBlue2),
        'hard-blue': var(--color-HardBlue),
        'choice': var(--color-Choosen),
        'light-grey': var(--color-LightGrey),
        'light-blue': var(--color-LightBlue),
        'ocean-blue': var(--color-OceanBlue),
      )
    ),
    'text': (
      property: 'color',
      class: 'text',
      values: (
        'background-blue': var(--color-BackgroundBlue),
        'dark-blue': var(--color-DarkBlue),
        'middle-blue': var(--color-MiddleBlue),
        'type-text': var(--color-TypeText),
        'element': var(--color-Element),
        'element-check': var(--color-ElementCheck),
        'common': var(--color-TextText),
        'additional-error': var(--color-AdditionalError),
        'additional-link': var(--color-AdditionalLink),
        'dark-blue-2': var(--color-DarkBlue2),
        'hard-blue': var(--color-HardBlue),
        'choice': var(--color-Choosen),
        'light-grey': var(--color-LightGrey),
        'light-blue': var(--color-LightBlue),
        'ocean-blue': var(--color-OceanBlue),
      )
    ),
    'border-radius': (
      property: 'border-radius',
      class: 'rounded',
      values: (
        'ml': 8px,
        'mg': 10px,
        'mr': 16px,
        '20': 20px,
        'xxl': 30px,
        '40': 40px,
        'l-60': 60px 0 0 60px,
        'l-20': 20px 0 0 20px,
      )
    ),
    'border-color': (
      property: 'border-color',
      class: 'border-color',
      values: (
        'element': var(--color-Element)
      )
    )
  )
);
